.cover
  background-image url('../svg/title.svg') 
  background-position 50% 50%
  background-size contain
  background-repeat no-repeat
  
.heap-scrn
  background-color transparent
  background-image url('../img/heap.png') 
  background-position 50% 50%
  background-size contain
  background-repeat no-repeat
  
.fm-scrn
  background-color transparent 
  background-image url('../img/magazine.png') 
  background-position 50% 50%
  background-size contain
  background-repeat no-repeat
  
.bobot
  background-color transparent 
  background-image url('../img/bobot.png') 
  background-position 50% 50%
  background-size contain
  background-repeat no-repeat
  
.list-1 ul
  font-size 36px
  line-height 48px

article.birth.cloud
  background-image url('../img/from.png') 
  background-position 50% 50%
  background-size contain
  background-repeat no-repeat
  h1
    bottom 40px
    right 40px
    width 320px
    height 320px
    line-height 320px
    font-size 28px
    .wrapper
      line-height 36px
    &:after
      transform-origin 10px -156px
      transform rotate(-40deg)
      

article.why-you.cloud
  background-image url('../img/why.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    top 40px
    left 40px
    right 40px
    bottom 40px
    margin auto
    width 320px
    height 320px
    line-height 320px
    font-size 28px
    .wrapper
      line-height 36px
    &:after
      transform-origin 10px -156px
      transform rotate(40deg)

article.cake.cloud
  background-image url('../img/cake.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 0px
    left 0px
    right 0
    top 0
    width 320px
    height 320px
    line-height 320px
    font-size 60px
    .wrapper
      line-height 36px
    &:after
      transform-origin 10px -156px
      transform rotate(40deg)

article.authors.cloud
  background-image url('../img/authors.png') 
  background-position 50% 0
  background-size cover
  background-repeat no-repeat
  h1
    bottom 0px
    top 0
    left 100px
    width 320px
    height 320px
    line-height 320px
    font-size 60px
    .wrapper
      line-height 60px
      text-align left
    &:after
      display none
      
article.journal.cloud
  background-image url('../img/paper.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 0px
    top 0
    left 100px
    width 320px
    height 320px
    line-height 320px
    font-size 60px
    .wrapper
      line-height 60px
      text-align left
    &:after
      transform-origin 10px -156px
      transform rotate(-70deg)
      
article.twitter.cloud
  background-image url('../img/twitter.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 0px
    top 0
    left 0
    right 0
    width 320px
    height 320px
    line-height 320px
    font-size 42px
    .wrapper
      line-height 48px
      text-align left
    &:after
      display none
      transform-origin 10px -156px
      transform rotate(0deg)
      
article.rss.cloud
  background-image url('../img/rss.jpg') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 0px
    top 0
    right 60px
    width 320px
    height 320px
    line-height 320px
    font-size 36px
    .wrapper
      line-height 48px
      text-align left
    &:after
      display none
      transform-origin 10px -156px
      transform rotate(-40deg)
      

article.why
  .wrapper
    color #000
    font-size 80px 
    line-height 80px
    b
      font-size 62px
      line-height 62px
      display block
    
article.word
  background-color #00af11
  .wrapper
    text-shadow 1px 1px 0 #01900f
    color #FFF
    font-size 120px 
    line-height 120px
    b
      font-size 85px
      line-height 85px
      display block
      
article.author
  background-color #ffcc00
  .wrapper
    text-shadow 1px 1px 0 #ee9900
    color #FFF
    font-size 137px
    line-height 137px
    b
      font-size 124px
      line-height 124px
      display block
      
article.translator
  background-color #ff9000
  .wrapper
    text-shadow 1px 1px 0 #ca7200
    color #FFF
    font-size 137px
    line-height 137px
    b
      font-size 72px
      line-height 72px
      display block
      
article.sponsor
  background-color #d00000
  .wrapper
    text-shadow 1px 1px 0 #a00
    color #FFF
    font-size 137px
    line-height 137px
    b
      font-size 94px
      line-height 94px
      display block
      
article.self.cloud
  background-image url('../img/self.png') 
  background-position 50% 0%
  background-size cover
  background-repeat no-repeat
  h1
    bottom 40px
    left 40px
    width 320px
    height 320px
    line-height 320px
    font-size 28px
    .wrapper
      line-height 36px
    &:after
      transform-origin 10px -156px
      transform rotate(40deg)
      
article.nhoi
  background-image url('../img/nhoi.png') 
  background-position 50% 50%
  background-size auto 100%
  background-repeat no-repeat
  h1
    text-align left
    position absolute
    top 50px
    left 170px
    font-size 19px 
    line-height 28px
    
article.gtfo
  background-image url('../img/gtfo.png') 
  background-position 50% 50%
  background-size cover
  background-repeat no-repeat
  h1
    text-align center
    position absolute
    top 0px
    left 20px
    font-size 132px
    line-height 110px
    b
      display block
      font-size 32px 
      line-height 36px
      
article.parts
  font-size 40px
  line-height 48px
  b
    font-size 64px
    line-height 64px
    display block


.links
  .wrapper
    line-height 0
    width 100%
    .about-speaker
      display inline-block
      vertical-align middle
      text-align left
      p
        font-size 36px
        height auto
        line-height 1.68
        margin 0
    h1
      display inline-block
      font-size 200px
      vertical-align middle
    h2
      display inline-block
      font-size 75px
      line-height 1
      text-align left
      vertical-align middle
    .logotype
      width 35%
      vertical-align middle
    .link
      width 35%
      vertical-align middle
    p
      height 120px
      line-height 120px
      font-size 36px