doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    title Что такое Frontender Magazine
    link(href="css/styles.css", rel="stylesheet")
    script(data-main="js/presentation", src="js/require.js")  
  body

    form.go-to-page(action="/select/slide", method="post")
      firldset
        input(type="text", maxlength="3", value="", placeholder="1")

    section.progress
      .value

    section#slides.dark

      article.cover

      article.birth.cloud.center
        h1 
          .wrapper А откуда берутся фронтендеры?

      article.self.cloud.center
        h1 
          .wrapper Самообразование?

      article.nhoi.center
        h1 Английский? <br> Нет, не слышал…

      article.gtfo.center
        h1 ВОН 
          b ИЗ ПРОФЕССИИ!

      article.contacts.center.links
        .wrapper
          img.logotype(src="svg/title.svg", alt="Логотип")
          img.link(src="svg/fm.svg", alt="QRCODE cо ссылкой на доклад")
          p http://frontender.info/

      article.parts.center
        .wrapper
          h1 ПРОЕКТ СОСТОИТ ИЗ
            b ДВУХ ЧАСТЕЙ

      article.heap-scrn

      article.fm-scrn

      article.why-you.center.cloud
        h1
          .wrapper 
            | Почему вы?
            br
            | Чем вы лучше?

      article.bobot

      article.center.list-1
        .wrapper
          ul
            li Регулярный выход материалов

      article.center.list-1
        .wrapper
          ul
            li Регулярный выход материалов
            li Профессиональная команда

      article.center.list-1
        .wrapper
          ul
            li Регулярный выход материалов
            li Профессиональная команда
            li Возможность влиять на то,<br> какие материалы публикуются

      article.center.list-1
        .wrapper
          ul
            li Регулярный выход материалов
            li Профессиональная команда
            li Возможность влиять на то,<br> какие материалы публикуются
            li Ориентированность на пользователя

      article.center.list-1
        .wrapper
          ul
            li Регулярный выход материалов
            li Профессиональная команда
            li Возможность влиять на то,<br> какие материалы публикуются
            li Ориентированность на пользователя
            li Open source

      article.center.cloud.cake
        h1 НАМ ГОД

      article.center.cloud.journal
        h1
          .wrapper 107 <br> статей


      article.center.cloud.authors
        h1
          .wrapper 88 <br> авторов

      article.center.cloud.twitter
        h1
          .wrapper 850 <br> фоловеров

      article.center.cloud.rss
        h1
          .wrapper 600 <br> подписчиков
        

      article.center.why
        .wrapper
          h1 
            .wrapper
              | ВСЕ СКАЗАЛ?
              b ЧТО ТЕБЕ НАДО?

      article.center.word
        .wrapper
          h1 
            .wrapper
              | SPREAD 
              b THE WORD

      article.center.author
        .wrapper
          h1 
            .wrapper
              | СТАНЬТЕ 
              b АВТОРОМ

      article.center.translator
        .wrapper
          h1 
            .wrapper
              | СТАНЬТЕ 
              b ПЕРЕВОДЧИКОМ

      article.center.sponsor
        .wrapper
          h1 
            .wrapper
              | СТАНЬТЕ 
              b СПОНСОРОМ

      article.contacts.center.links
        .wrapper
          .about-speaker
            p.name Антон Немцев
            p.twitter @silentimp
            p.email thesilentimp@gmail.com
            p.skype skype: ravencry
          img.link(src="svg/git.svg", alt="QRCODE cо ссылкой на доклад")
          p http://goo.gl/sO8h6S



